:root{
   /* --standardBlack: #07020D;
    --white: #ffffff;
    --darkPink: #AA7589;
    --lightPink: #FFC7DC;
    --darkBlue: #427480;
    --lightBlue: #C7F5FF;
    --yellow: #FFFAC7;
    --logoBlue:#154f81
*/
    /*--sectionText:#28262C; rasion*/
    --sectionText: #4C443C;
    --accentColor1:#FFC7DC;
    --accentColor2:#A9DEF9;
    --accentColor3:#AA7589;
    --textColor: #07020D;
    --backgroundColor:white;
    --buttonColor:white;

/*
    color:#0076d8;
    color:#328ac9;
    color:#53a6dc;
    color:#8fd1f3;
    logo:#154f81;
  */  

    --sectionText: #0C1821;
    --accentColor1:#53a6dc;
    --accentColor2:#8fd1f3;
    --accentColor3:#0076d8;
    --accentColor4:#154f81;
    --accentText4:white;
    --textColor: #07020D;
    --backgroundColor:white;
    --buttonColor:white;


}
