@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.Header {
    display:flex;
    flex-direction: column;
 
    /*background-image: url("../public/imgs/familyOutdoors.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center -200px;*/
    height: auto;
    
 
   h1 {
     margin:min(15vw, 60px);
     text-align: center;
     color: var(--standardBlack);
     font-size: 65px;
     align-self: center;
     justify-self: center;
     /* padding:5%; */
     font-family: "Pacifico";
   }
   .topBar {
     .logoLink {
       img{
        height: 80px;
        transition: 150ms ease-in-out;
        padding: 10px;
       }
     }
   }
 
   aside {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding-bottom:5%;
    img {
      height: 12vw;
      max-height: 80px;
      background-image: linear-gradient(45deg, var(--lightPink), var(--lightBlue));
      border-radius: 50%;
      transition: 150ms ease-in-out;
      
    }
   }
 }

 .social img:hover{
  scale: 1.1;
}

@media screen and (max-width: 500px){
  .Header h1 {
    font-size: 12vw;
  }
}