@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.Header {
    display:flex;
    flex-direction: column;
 
    background-image: url("../public/imgs/family.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    color: var(--white);
    text-shadow: 0 0 15px var(--standardBlack);
    text-align: center;

    font-family: "Pacifico";
    font-size: 40px;

    /*background-image: url("../public/imgs/familyOutdoors.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center -200px;*/
    height: 400px;
    width:100%;
    
 
   h1 {
     margin:min(15vw, 60px);
     text-align: center;
     color: var(--standardBlack);
     font-size: 65px;
     align-self: center;
     justify-self: center;
     /* padding:5%; */
     font-family: "Pacifico";
   }
   .topBar {
     .logoLink {
       img{
        height: 80px;
        transition: 150ms ease-in-out;
        padding: 10px;
       }
     }
   }
 
   
 }

 .social img:hover{
  scale: 1.1;
}

@media screen and (max-width: 500px){
  .Header h1 {
    font-size: 12vw;
  }
}