.sidenav {
    height: 100%;
    width: 0px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: var(--darkPink); 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
  }
  .sidenav {
    right: 0;
    li {
      list-style-type: none;
    }
  }
  
  
  .sidenav a, .sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    display: block;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

  }
  .sidenav p {
    color: var(--lightPink);
  }

  
  .sidenav a:hover {
    color: var(--lightBlue);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .menuButton {
    position:fixed;
    right:0px;
    top:0px;
  
    /* background-color: #CDB4DB; */
    border-radius: 10px;
    font-size: 60px;
    text-align: center;

    /* color: var(--lightPink); */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 20px;
    transition: 150ms ease-in-out;
    z-index: 1;
  }

  .menuButton:hover{
    scale: 1.1;
    /* background-color: ; */
    /* color:var(--lightBlue) !important;  */
    cursor: pointer;
    /* box-shadow: 5px 3px 3px 3px black; */
  }

  #mySidenav > a.menuDonate {
    position: absolute;
    bottom: 80px;
    font-weight: bolder;
    font-size: 40px;
  }

  .mySidenav{
    width: 0px;

  }
  