.sidenav {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #CDB4DB; 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
  }
  .sidenav {
    right: 0;
    li {
      list-style-type: none;
    }
  }
  
  
  .sidenav a, .sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    

  }
  .sidenav p {
    color: #818181
  }

  
  .sidenav a:hover {
    color: #BDE0FE;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .menuButton {
    position:fixed;
    right:0px;
    top:0px;
    color: #F1E9DB;
  
    background-color: #CDB4DB;
    border-radius: 10px;
    font-size: 60px;
    text-align: center;

    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 20px;
    transition: 150ms ease-in-out;
  }

  .menuButton:hover{
    scale: 1.1;
    background-color: #A2D2FF;
    box-shadow: 5px 3px 3px 3px black;
  }

  #mySidenav > a.menuDonate {
    position: absolute;
    bottom: 80px;
    font-weight: bolder;
    font-size: 40px;
  }
  