.splitResources {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .routerInfo {
        display: flex;
        max-width:90%;
        background: var(--lightBlue);
        border-radius: 30px;
        padding: 30px;
        margin-bottom:50px;

        p {
            color: var(--standardBlack);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 25px;
            padding: 0 3vw;
        }

        img {
            height:225px;
            width:225px;
            align-self: center;
            padding:15px;
        }

        .allLinks {
            display: flex;
            flex-wrap: wrap;
            flex-direction:row;

            .links {
                display: flex;
                flex-direction:column;
                align-self: flex-start;
                align-items: center;

                button {
                    background-color: var(--white);
                    border-radius: 10px;
                    align-self:center;
                }
            }
               
            .bookmarks button {
                background-color: var(--yellow);
            }

            button {
                background-color: var(--white);
                min-width:50px;
                min-height:50px;
                margin: 5px;
                padding:10px;
                border-radius: 100%;
                transition: 150ms ease-in-out;   
                border-width: 0px;
                
                .smallButtonSVG {
                    margin:5px;
                    align-self:center;
                    height: 1.5em;
                    width: 1.5em;
                    padding: 0;
                }

            }
        }

    }

}

.allLinks button:hover, .bookmarks button:hover {
    scale: 1.02;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.1), 0 17px 50px 0 rgba(0,0,0,0.1);
}

@media screen and (max-width: 530px){

    .splitResources {
        max-width: 95%;
        margin: 15px;
        padding: 5px;

        .routerInfo {
            flex-wrap:wrap;
            justify-content: center;

           .links {
                max-width: none;
                button {
                    max-width: 125px;
                }
            }
            
            .text {
                width: 75%;
            }
            img {
                height: 50vw;
                width: 50vw;
            }

        }

    }
}